{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
<a class="breadcrumbs-part" {% link_for _('About'), "home.about" %}</a>
{% endblock %}

{% block primary %}
<article class="module">
    <div class="module-content">
        {% block about %}
        {% if g.site_about %}
        {{ h.render_markdown(g.site_about) }}
        {% else %}
        {% trans %}
        <p class= "about-title">Τι προσφέρει το HARDMIN</p>

        <p class="about"> Σκοπός της λειτουργίας του εθνικού αποθετηρίου ερευνητικών δεδομένων <a href="https://hardmin.heal-link.gr">
            HARDMIN (Hellenic Academic Research DataManagement Initiative)</a> είναι η συγκέντρωση του συνόλου των ερευνητικών δεδομένων που δημιουργούνται από
            Έλληνες ερευνητές και ακαδημαϊκούς. Το αποθετήριο έρχεται να καλύψει την καίρια ανάγκη ασφαλούς φύλαξης και
            δημοσίευσης ερευνητικών δεδομένων της ελληνικής επιστημονικής κοινότητας για την αύξηση της διαφάνειας στην
            έρευνα, τη δυνατότητα επαναχρησιμοποίησης από τους ενδιαφερόμενους ερευνητές ανά τον κόσμο, της επιτάχυνσής
            του ψηφιακού μετασχηματισμού του ερευνητικού πεδίου στη χώρα μας και την υιοθέτηση ανταγωνιστικών πρακτικών
            στον στίβο των ερευνητικών προτάσεων και της επιστημονικής επικοινώνησης.</p>

        <p class= "about-title">Πως θα μπορεί να χρησιμοποιήσει κάποιος το HARDMIN</p>

        <p class="about"> Στο αποθετήριο συνδέονται όλοι οι ερευνητές των ελληνικών Πανεπιστημίων με τα διαπιστευτήριά τους και 
                μπορούν να αναρτήσουν με ευκολία τα ερευνητικά τους δεδομένα. Ειδικές ομάδες συντακτών, είτε εντός μιας ακαδημαϊκής μονάδας 
                (π.χ. υπεύθυνος εργαστηρίου), είτε σε ιδρυματικό επίπεδο (π.χ. προσωπικό Βιβλιοθήκης), μπορούν να καταστήσουν δημόσια τα δεδομένα σας,
                 τα οποία θα διαθέτουν μόνιμα αναγνωριστικά, δυνατότητες διασύνδεσης με το μοναδικό σας αναγνωριστικό ORCiD και σύζευξης με το
                  δημοσιευμένο σας έργο, π.χ. με ένα άρθρο επιστημονικού περιοδικού. 
                Για ειδικές περιπτώσεις, η πρόσβαση μπορεί να είναι ελεγχόμενη και να παρέχεται κατόπιν αιτήματος.</p>

        <p class= "about-title">Περισσότερες πληροφορίες</p>

        <p class="about">Το HARDMIN έχει αναπτυχθεί με το ανοικτό λογισμικό CKAN και αποτελεί, μαζί με το HELIX την εθνική ψηφιακή
            επιστημονική υποδομή (eInfrastructure) λογισμικού για την παροχή υπηρεσιών καταλόγου και αποθετηρίου
            επιστημονικών δεδομένων, μέρος του πλέγματος υποδομών για την Ανοικτή Επιστήμη. Το αποθετήριο θα διαθέτει τη
            δυνατότητα σύνδεσης με τα υφιστάμενα αποθετήρια και άντλησης των αντίστοιχων δεδομένων από ήδη υπάρχουσες
            συλλογές.
        </p>   
        <p class="about">
            Το αποθετήριο είναι προσβάσιμο από τη διεύθυνση <a href="https://hardmin.heal-link.gr">https://hardmin.heal-link.gr</a>, ενώ οι ενδιαφερόμενοι
            ερευνητές μπορούν να επικοινωνούν με την οικεία Βιβλιοθήκη τους για περισσότερες λεπτομέρειες. Αυτή τη
            στιγμή, το αποθετήριο λειτουργεί πιλοτικά για τη διευθέτηση τεχνικών λεπτομερειών.</p>

        <p class= "about-title">Περισσότερα</p>
              <ul class="about">
               <li>24ο Πανελλήνιο Συνέδριο Ακαδημαϊκών Βιβλιοθηκών, <a href="http://palc24.cs.teilar.gr/conference/el/programma.jsp?id=21">
                    ΣΕΑΒ: Υποδομή Κατάθεσης Ερευνητικών Δεδομένων</a></li>
               <li>IFLA WLIC 2019: <a href="http://library.ifla.org/id/eprint/2498">HEAL-Link and HELIX open collaboration to facilitate and promote scholarly communication
                  through Open Access and engage Research Infrastructures in Open Science</a></li>
               <li>25ο Πανελλήνιο Συνέδριο Ακαδημαϊκών Βιβλιοθηκών, <a href="https://palc25.lib.uoc.gr/en/program/conference-program#event-228">
                    Υποδομές τμήματος ηλεκτρονικών πηγών του ΣΕΑΒ</a></li>
             </ul>
        {% endtrans %}

        {% endif %}
        {% endblock %}
    </div>
</article>
</div>
{% endblock %}

