{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
<a class="breadcrumbs-part" {% link_for _('About'), "home.about" %}</a>
{% endblock %}

{% block primary %}
<article class="module">
    <div class="module-content">
        {% block about %}
        {% if g.site_about %}
        {{ h.render_markdown(g.site_about) }}
        {% else %}
        {% trans %}
        <p class= "about-title">Τι προσφέρει το HARDMIN</p>

        <p class="about"> Σκοπός της λειτουργίας του εθνικού αποθετηρίου ερευνητικών δεδομένων HARDMIN (Hellenic Academic Research Data
            Management Initiative) είναι η συγκέντρωση του συνόλου των ερευνητικών δεδομένων που δημιουργούνται από
            Έλληνες ερευνητές και ακαδημαϊκούς. Το αποθετήριο έρχεται να καλύψει την καίρια ανάγκη ασφαλούς φύλαξης και
            δημοσίευσης ερευνητικών δεδομένων της ελληνικής επιστημονικής κοινότητας για την αύξηση της διαφάνειας στην
            έρευνα, τη δυνατότητα επαναχρησιμοποίησης από τους ενδιαφερόμενους ερευνητές ανά τον κόσμο, της επιτάχυνσής
            του ψηφιακού μετασχηματισμού του ερευνητικού πεδίου στη χώρα μας και την υιοθέτηση ανταγωνιστικών πρακτικών
            στον στίβο των ερευνητικών προτάσεων και της επιστημονικής επικοινώνησης.</p>

        <p class= "about-title">Περισσότερες πληροφορίες</p>

        <p class="about">Το HARDMIN έχει αναπτυχθεί με το ανοικτό λογισμικό CKAN και αποτελεί, μαζί με το HELIX την εθνική ψηφιακή
            επιστημονική υποδομή (eInfrastructure) λογισμικού για την παροχή υπηρεσιών καταλόγου και αποθετηρίου
            επιστημονικών δεδομένων, μέρος του πλέγματος υποδομών για την Ανοικτή Επιστήμη. Το αποθετήριο θα διαθέτει τη
            δυνατότητα σύνδεσης με τα υφιστάμενα αποθετήρια και άντλησης των αντίστοιχων δεδομένων από ήδη υπάρχουσες
            συλλογές.

            Το αποθετήριο είναι προσβάσιμο από τη διεύθυνση https://hardmin.heal-link.gr, ενώ οι ενδιαφερόμενοι
            ερευνητές μπορούν να επικοινωνούν με την οικεία Βιβλιοθήκη τους για περισσότερες λεπτομέρειες. Αυτή τη
            στιγμή, το αποθετήριο λειτουργεί πιλοτικά για τη διευθέτηση τεχνικών λεπτομερειών</p>
        {% endtrans %}

        {% endif %}
        {% endblock %}
    </div>
</article>
</div>
{% endblock %}

