{% set tags = h.get_facet_items_dict('tags', limit=3) %} {% set placeholder = _('Search Datasets') %}
{% set search_placeholder= _('Search for open scientific data')%}

<section>
  <div class="landing-section">

    <div class="search-form-wrapper">

      <form class="landing-search-form"  autocomplete="off" method="get" action="{% url_for controller='package', action='search' %} ">

        <div class="main-form-content">
          <input type="text" class="landing-search-text" name="q" value="" placeholder="{{search_placeholder}}">

          <div class="domain-pills">

            <div class="advanced-search-link">
              <a href="#myModal" class="" data-toggle="modal">{{_('Advanced search')}}</a>
            </div>

          </div>


        </div>
        <button type="submit" name="landing-search-button" class="landing-search-button">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>

  <!-- Advanced search modal  -->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="advanced-search">
            <form class="landing-search-form" id="advanced-form-search" method="get" action="{% url_for controller='package', action='search' %} ">
              <div class="row title display-flex">
                <div class="col-md-6">
                  <h4 class="title">{{_('Advanced search')}}</h4>
                </div>
                <div class="col-md-6 text-right">
                  <i data-dismiss="modal" class="fa fa-remove btn"></i>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <input type="text" class="search-text" name="q" value="" placeholder="{{search_placeholder}}">
                </div>
              </div>
              <div class="fields">
                <div class="row" id="checkbox-list">
                  {% snippet 'snippets/advanced_search_facets.html' %}
                </div>
              </div> {#fields#}


              <section class="footer">
                <button type="submit" name="landing-search-button" class="landing-search-button">
                  <i class="fa fa-search"></i>
                </button>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>