<footer id="footer" class="data-footer">
  <div class="footer-content">
    <div class="content">
      {% block footer_content %}
      {% block footer_links %}
      {% endblock %}

      <div class="footer-column logo">

        {#<a href="{{ h.url('home.index') }}">
          <img src="{{ h.url_for_static('/images/jpg/heal.jpg') }}" alt="">
        </a>#}
        <span class="copyright-notes">
            HEAL-Link © Copyright 2019. Με την επιφύλαξη παντός νόμιμου δικαιώματος
          </span>
      </div>

      

      <div class="share-links">
        <h3 class="widget-title" style="font-weight:200; font-size: 20px">{{_('Follow Us')}}</h3>
        <a href="https://www.facebook.com/heallink" rel="nofollow" target="_blank" data-toggle="tooltip"
          data-placement="bottom" title="" class="share-facebook" data-original-title="Facebook"><i
            class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/heallinkgr" rel="nofollow" target="_blank" data-toggle="tooltip"
          data-placement="bottom" title="" class="share-twitter" data-original-title="Twitter"><i
            class="fa fa-twitter"></i></a>
      </div>
    </div>

    
  </div>
  </div>
  {% endblock %}

  {% block footer_debug %}
  {% if g.debug %}
  {% include 'snippets/debug.html' %}
  {% endif %}
  {% endblock %}
</footer>