<footer id="footer" class="data-footer">
  <div class="footer-content">
    {% block footer_content %}
    {% block footer_links %}
            {% endblock %}

    <div class="footer-column logo">
        
          <a href="{{ h.url('home.index') }}">
               <img src="{{ h.url_for_static('/images/svg/Helix-logo-White-on-Blue.svg') }}" alt="" >
          </a>
    </div>
    
        <div class="footer-column about">
        <h3 class="footer-column-title">
          About
        </h3>
        <ul>
          <li><a href="#">Αρχική</a></li>
          <li><a href="#">Το έργο</a></li>
          <li><a href="#">Επικοινωνία</a></li>
          <li><a href="#">Όροι χρήσης</a></li>
        </ul>
      </div>
      <div class="footer-column research">
        <h3 class="footer-column-title">
          Έρευνα
        </h3>
        <ul>
          <li><a href="#">Data</a></li>
          <li><a href="#">Publications</a></li>
          <li><a href="#">Lab</a></li>
          <li><a href="#">Θεματικές</a></li>
          <li><a href="#">Οργανισμοί</a></li>
        </ul>
      </div>
      <div class="footer-column partners">
        <h3 class="footer-column-title">
          Συνεργάτες
        </h3>
        <ul>
          <li>
            <a href="#">
              <img src="" alt="">
            </a>
          </li>
          
          <li>
            <a href="#">
              <img src="" alt="">
            </a>
          </li>
          
          <li>
            <a href="#">
              <img src="" alt="">
            </a>
          </li>
          
          <li>
            <a href="#">
              <img src="" alt="">
            </a>
          </li>
          
          <li>
            <a href="#">
              <img src="" alt="">
            </a>
          </li>
          
          <li>
            <a href="#">
              <img src="" alt="">
            </a>
          </li>
          
        </ul>
      </div>

      <div class="copyright-notes">
        © 2018 Helix. All rights reserved.
      </div>
    </div>
 {% endblock %}

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
