<footer id="footer" class="data-footer">
  <div class="footer-content">
    <div class="content">
    {% block footer_content %}
    {% block footer_links %}
            {% endblock %}

    <div class="footer-column logo">
        
          <a href="https://hellenicdataservice.gr/main/">
               <img src="{{ h.url_for_static('/images/svg/Helix-logo-White-on-Blue.svg') }}" alt="" >
          </a>
    </div>
    
        <div class="footer-column about">
        <h3 class="footer-column-title">
            {{_('About')}}
        </h3>
        <ul>
          <li><a href="https://hellenicdataservice.gr/main/">{{_('Home')}}</a></li>
          <li><a href="https://hellenicdataservice.gr/project/page/what-is-helix">{{_('The project')}}</a></li>
          <li><a href="https://hellenicdataservice.gr/project/page/contact">{{_('Contact')}}</a></li>
          <li><a href="https://hellenicdataservice.gr/project/page/terms-of-use">{{_('Terms of use')}}</a></li>
        </ul>
      </div>
      <div class="footer-column research">
        <h3 class="footer-column-title">
            {{_('Research')}}
        </h3>
        <ul>
          <li><a href="{{ h.url('home.index') }}">Data</a></li>
          <li><a href="https://hellenicdataservice.gr/pubs/">Publications</a></li>
          <li><a href="https://lab.hellenicdataservice.gr/">Lab</a></li>
          <li><a href="#">{{_('Topics')}}</a></li>
          <li><a href="#">{{_('Organizations')}}</a></li>
        </ul>
      </div>
      <div class="footer-column partners">
        <h3 class="footer-column-title">
            {{_('Partners')}}
        </h3>
        <ul>
          <li>
            <a class="footer-image" href="https://www.athenarc.gr/">
              <img src="{{ h.url_for_static('/images/png/PARTNER-ATHENA.png') }}" alt="">
            </a>
          </li>
          
          <li>
            <a class="footer-image" href="https://grnet.gr/">
              <img src="{{ h.url_for_static('/images/png/PARTNER_GRNET.png') }}" alt="">
            </a>
          </li>
          
          <li>
            <a class="footer-image" href="https://www.openaire.eu/">
              <img src="{{ h.url_for_static('/images/png/PARTNER_OPENAIRE.png') }}" alt="">
            </a>
          </li>
          
          <li>
            <a class="footer-image" href="https://www.minedu.gov.gr/">
              <img src="{{ h.url_for_static('/images/png/PARTNER-EDUC.png') }}" alt="">
            </a>
          </li>
          
          
        </ul>
      </div>
    </div>
      <div class="copyright-notes">
        © 2018 HELIX. All rights reserved.
      </div>
    </div>
 {% endblock %}

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
