{% extends 'package/base.html' %}


{% block breadcrumb_content_selected %}{% endblock %}

{% block secondary_content %}

{% block paint %}{% endblock %}
<div class="alt-side-style">
    {% snippet 'package/snippets/info.html', pkg=pkg, hide_follow_button=true %}
</div>
{% endblock %}

{% block breadcrumb_content %}


  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    {% if pkg.organization %}
      {% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
      <a class="breadcrumbs-part"{% link_for _('Publishers'), controller='organization', action='index' %}</a>
      <a class="breadcrumbs-part"{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</a>
    {% else %}
      <a class="breadcrumbs-part"{% link_for _('Datasets'), controller='package', action='search' %}</a>
    {% endif %}
    <a class="breadcrumbs-part"{{ self.breadcrumb_content_selected() }}{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</a>
  {% else %}
    <a class="breadcrumbs-part" {% link_for _('Datasets'), controller='package', action='search' %}</a>
    {#<a class="breadcrumbs-part" {{ _('Create Dataset') }}</a> #}
  {% endif %}
   
  {% if pkg %}
    {#<a class="breadcrumbs-part"{% link_for _('Edit'), controller='package', action='edit', id=pkg.name %}</a> #}
  {% endif %}
{% endblock %}

{% block content_action %}
 
{% endblock %}

{% block content_primary_nav %}

   {% link_for _('View dataset'), controller='package', action='read', id=pkg.name, class_='btn btn-manage pull-right', icon='eye' %}
  <div class="nav-menu">
  {{ h.build_nav_icon('dataset_edit', _('Edit metadata'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_resources', _('Resources'), id=pkg.name) }}
  </div>
{% endblock %}

{#{% block secondary_content %}
  {% snippet 'package/snippets/info.html', pkg=pkg, hide_follow_button=true %}
{% endblock %}#}
