{% ckan_extends %}

{% block breadcrumb %}
    {{ super() }}
{% endblock %}

{% block page_primary_action %}
  {% link_for _('Add new resource'), controller='package', action='new_resource', id=c.pkg_dict.name, class_='btn btn-primary btn-manage', icon='plus' %}
{% endblock %}

{% block primary_content_inner %}
  {% if pkg.resources %}
    <div class="package-resources edit"{% if has_reorder %} data-module="resource-reorder" data-module-id="{{ pkg.id }}"{% endif %}>
      {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
      <div class="package-resource-list">
      {% for resource in pkg.resources %}
        {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, url_is_edit=true, can_edit=can_edit %}
      {% endfor %}
      </div>
    </div>
  {% else %}
    {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
      <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
    {% endtrans %}
  {% endif %}
{% endblock %}

