{% extends "group/edit_base.html" %}

{% block subtitle %}{{ _('Members') }} - {{ c.group_dict.display_name }} - {{ _('Groups') }}{% endblock %}

{% block breadcrumb_content %}
  <a class="breadcrumbs-part"{% link_for _('Groups') if group_type.startswith('group') else _('Communities'), controller='group', action='index', named_route=group_type + '_index' %}</a>
  {% block breadcrumb_content_inner %}
    <a class="breadcrumbs-part"{% link_for group.display_name|truncate(35), controller='group', action='read', id=group.name, named_route=group_type + '_read' %}</a>
    <a class="breadcrumbs-part"{% link_for _('Manage'), controller='group', action='edit', id=group.name, named_route=group_type + '_edit' %}</a>
  {% endblock %}
{% endblock %}


{% block content_action %}

  {% link_for _('Add Member'), controller='group', action='member_new', id=c.group_dict.id, class_='btn btn-manage pull-right', icon='plus-square', named_route=group_type + '_member_new' %}


  {% link_for _('View'), controller='group', action='read', id=c.group_dict.name, class_='btn btn-manage pull-right right-spacing ', icon='eye', named_route=group_type + '_read' %}
{% endblock %}

{% block content_primary_nav %}
<div class="nav-menu">
  {{ h.build_nav_icon(group_type + '_edit', _('Edit'), id=c.group_dict.name) }}
  {{ h.build_nav_icon(group_type + '_members', _('Members'), id=c.group_dict.name) }}
</div>
{% endblock %}

{% block primary_content_inner %}
  <h3 class="page-heading">{{ _('{0} members'.format(c.members|length)) }}</h3>
  <table class="table table-header table-hover table-bordered" id="member-table">
    <thead>
      <tr>
        <th>{{ _('User') }}</th>
        <th>{{ _('Role') }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user_id, user, role in c.members %}
      <tr>
        <td class="media">
          {{ h.linked_user(user_id, maxlength=20) }}
        </td>
        <td>{{ role }}</td>
        <td>
          <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm" href="{{ h.url_for(group_type + '_member_new', id=c.group_dict.id, user=user_id) }}" title="{{ _('Edit') }}">
              <i class="fa fa-wrench"></i>
            </a>
            <a class="btn btn-danger btn-sm" href="{{ h.url_for(group_type + '_member_delete', id=c.group_dict.id, user=user_id) }}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this member?') }}" title="{{ _('Delete') }}">{% block delete_button_text %}<i class="fa fa-times"></i>{% endblock %}</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
