
<h5 class="side-heading">
{{ _('Topics') }}</h5>
{% if tags %} 
  <section class="side-content">
    {% set _class = _class or 'tag-list' %}
    {% block tag_list %}
    
    {% for tag in tags %}           {#{% if check%} topics-last {% else %}  topics {% endif %} #}
      {% set check = loop.last%}  
        <a class="topics"  href="{% url_for controller='package', action='search', q=tag%}" >{{tag | upper}}</a>
        {% if check==false%} <hr /> {% endif %}
    {% endfor %}
{% endblock %}
  </section>
  {% else %}
    <section class="module-content"></section>
  {% endif %}

