{#
Inserts a stepped progress indicator for the new package form. Each stage can
have one of three states, "uncomplete", "complete" and "active".

stages - A list of states for each of the three stages. Missing stages default
         to "uncomplete".

Example:

    {% snippet 'package/snippets/stages.html', stages=['active'] %}
    {% snippet 'package/snippets/stages.html', stages=['complete', 'active'] %}
    {% snippet 'package/snippets/stages.html', stages=['active', 'complete', 'complete'] %}

#}
{% set s1 = stages[0] or 'active' %}
{% set s2 = stages[1] or 'uncomplete' %}
{% set s3 = stages[2] or 'uncomplete' %}
{% if s1 != 'uncomplete' %}{% set class = 'stage-1' %}{% endif %}
{% if s2 != 'uncomplete' %}{% set class = 'stage-2' %}{% endif %}
{% if s3 != 'uncomplete' %}{% set class = 'stage-3' %}{% endif %}
<div class="steps {{ class }}">
  <div class="first step {{ s1 }}">
    {% if s1 != 'complete' %}
      <div class='circle'><span>1</span></div>
    {% else %}
    <div class='circle'>
        <span class="check"></span>
    </div>
      {#<button class="highlight step-title" name="save" value="go-dataset" type="submit">{{ _('Create dataset') }}</button>#}
    {% endif %}
    <div class="step-title">{{ _('Create dataset') }}</div>
    <div class="bar-left"></div>
    <div class="bar-right"></div>
  </div>
  <div class="middle step {{ s2 }}"> 
    {% if s2 == 'active' %}
      <div class='circle'><span>2</span></div>
      
    {% else %}
      {% if s1 == 'active' %}
        {# stage 1 #}
        <div class='circle inactive'><span>2</span></div>
        {#<button class="highlight" name="save" value="go-resources" type="submit">{{ _('Add data') }}</button>#}
        {% elif s3 == 'active'%}
        <div class='circle'>
            <span class="check"></span>
        </div>
      {% else %}
        {#{% link_for _('Add dat'), controller='package', action='new', class_="highlight" %}#}
      {% endif %}
    {% endif %}
    <div class="step-title">{{ _('Add data') }}</div>
    <div class="bar-left"></div>
    <div class="bar-right"></div>
  </div>
  <div class="last step {{ s3 }}"> 
    {% if s3 == 'active' %}
      <div class='circle'><span>3</span></div>
      {% elif s1 == 'active' or s2 == 'active' %}
      <div class='circle inactive'><span>3</span></div>
        {# stage 1 #}
        {#<button class="highlight" name="save" value="go-metadata" type="submit">{{ _('Finalize') }}</button>#}
      {% else %}
        {#{% link_for _('Additional info'), controller='package', action='new', class_="highlight" %}{{ s2 }}#}
      
    {% endif %}
    <div class="step-title">{{ _('Finalize') }}</div>
    <div class="bar-left"></div>
    <div class="bar-right"></div>
  </div>
</div>
