
<h5 class="side-heading ">
{{ _('Tags') }}</h5>
{# <i class="icon-medium icon-lock"></i> #}
{% if tags %}
  <section class="side-tags">
    {#{% snippet 'snippets/tag_list.html', tags=tags, _class='tags-list well' %} #}
    {% set _class = 'tags-list well' or 'tags-list' %}
    {% block tag_list %}
    
        {% for tag in tags %}
                <a class="tags" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ tag.display_name }}</a>
                <span class="arrow"></span>
                {% endfor %}
    
{% endblock %}
  </section>
  {% else %}
    <section class="side-tags"></section>
  {% endif %}

 

