{% ckan_extends %}

{% set user = c.userobj %}


{% block breadcrumb_content %}
<a class="breadcrumbs-part" href="{{ h.url_for('dashboard.index') }}" >DASHBOARD</a>
{% endblock %}

{% block secondary%}


     {{super()}}

{% endblock %}



{% block primary %}
    {% block page_header %}
        <section class= "results-main-result-set dashboard"> 
    
        <div class = "page-header">
          <div class="content_action">
          {% link_for _('Edit settings'), controller='user', action='edit', id=user.name, class_='btn btn-manage', icon='cog' %}
          </div>
         </div> 
    <ul class="nav nav-tabs">
        {% block page_header_navtab_links %}
            {{ h.build_nav_icon('dashboard.datasets', _('My Datasets')) }}
            {#{{ h.build_nav_icon('user_dashboard_resources', _('Resources'), icon='cogs') }}#}
            {{ h.build_nav_icon('dashboard.organizations', _('My Publishers')) }}
            {#{{ h.build_nav_icon('dashboard.datasets', _('My Groups')) }}  #}
            {{ h.build_nav_icon('dashboard.index', _('News feed')) }}
    
            {# {% if c.is_sysadmin %} 
                {{ h.build_nav_icon('user_dashboard_maps', _('Maps'), icon='globe') }}
            {% endif %} #}
     </ul>       
        {% endblock page_header_navtab_links %}

   
    {% endblock page_header%}
   
   

      {% block primary_content_inner %}
      {{super() }}
    
      {% endblock %}
    </section>
</section>
</section>
{% endblock primary%}

