{% extends "user/edit_base.html" %}
{% if not user%}
    {% set user = c.userobj %}
{% endif %}
{% if not user_dict%}
    {% set user_dict = c.user_dict %}
{% endif%}






{%- block content %}
{% block maintag %}

{% endblock %}
<section class="main-results-page-content">
    <div class="results-main-content">

        {% block secondary %}
        
        {% endblock secondary %}




        <section class="results-main-result-set center-content">
            {% block search_title%}
            {% endblock %}
            {% block toolbar %}

            {% block breadcrumb %}
            {% if self.breadcrumb_content() | trim %}
            <div class="breadcrumbs-pagination top">
                <div class="breadcrumbs" data-module="breadcrumb-overflow">
                    {% block breadcrumb_content %}
                        <a class="breadcrumbs-part" href="{{ h.url_for('dashboard.index') }}">{{ _('Dashboard') }}</a>
                    {% endblock %}
                </div>
                {% block pagination_top %}{% endblock %}
                {% if self.page_primary_action() | trim %}
                <div class="page_primary_action">
                    {% block page_primary_action %}{% endblock %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endblock breadcrumb %}
            {% endblock toolbar%}

            {% block altbar %}
            {% endblock %}

            {% block primary_border%}
            <div class="main-results-border-bottom">
                {% endblock%}

                {% block gap %}

                {% endblock %}
                {% block main_content %}

                {# Add Order by plus result number for search #}
            </div>
            {% block flash %}
            {% set flash_messages = h.flash.pop_messages() | list %}
            <div class="flash-messages">
                {% for message in flash_messages %}
                <div class="alert fade in {{ message.category }}">
                    {{ h.literal(message) }}
                </div>
                {% endfor %}
            </div>
            {% endblock flash %}

            {#
            The pre_primary block can be used to add content to before the
            rendering of the main content columns of the page.
            #}
            {% block pre_primary %}

            {% endblock %}

            {% block primary %}
            {% block page_header %}
            <section class="results-main-result-set dashboard">

                <div class="page-header">
                    {#<div class="content_action">
                        {% link_for _('Edit settings'), controller='user', action='edit', id=user.name, class_='btn
                        btn-manage', icon='cog' %}
                    </div>#}
                </div>
                <div class=result-items>
                    <ul class="nav-bar">
                        <div class="nav-menu">
                            {% block page_header_navtab_links %}
                            {{ h.build_nav_icon('datasets', _('My Datasets'),controller='ckanext.helix.controllers.user:UserController') }}
                            {#{{ h.build_nav_icon('user_dashboard_resources', _('Resources'), icon='cogs') }}#}
                            {{ h.build_nav_icon('dashboard.organizations', _('My Institutions') if c.userobj.sysadmin else _('Institution')) }}
                            {#{{ h.build_nav_icon('dashboard.datasets', _('My Groups')) }} #}
                            {{ h.build_nav_icon('dashboard.index', _('Activity Stream')) }}

                            {# {% if c.is_sysadmin %}
                            {{ h.build_nav_icon('user_dashboard_maps', _('Maps'), icon='globe') }}
                            {% endif %} #}
                        </div>
                    </ul>
                </div>
                {% endblock page_header_navtab_links %}


                {% endblock page_header%}



                {% block primary_content_inner %}
                <div data-module="dashboard">
                        {% snippet 'user/snippets/followee_dropdown.html', context=dashboard_activity_stream_context, followees=followee_list %}
                        <h2 class="page-heading">
                          {% block page_heading %}
                            {{ _('Activity Stream') }}
                          {% endblock %}
                          <small>{{ _("Activity from items that I'm following") }}</small>
                        </h2>
                        {% block activity_stream %}
                          {{ dashboard_activity_stream|safe }}
                        {% endblock %}
                      </div>              
                {% endblock %}
            </section>
        </section>
</section>
            {% endblock primary%}

{% endblock main_content %}
{% endblock content %}