{% ckan_extends %}

{% block breadcrumb_content %}
  {#<a class="breadcrumbs-part" href="{{ h.url_for(controller='user', action='index') }}"{{ _('Users') }}</a> #}
  <a class="breadcrumbs-part" {% link_for _('Users'), controller='user', action='index' %}</a>
  {#<a class="breadcrumbs-part" href="{{ h.url_for(controller='user', action='read', id=c.user_dict.name) }}"{{ c.user_dict.display_name }}</a> #}
  
  <a class="breadcrumbs-part" {% link_for _('Manage Account'), controller='user', action='edit' %}</a>
{% endblock %}
