


{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set current_lang = request.environ.CKAN_LANG %}

{% for locale in h.get_available_locales() %}
{% if locale.identifier == current_lang %} 
<a href="{{ h.url_for(current_url, locale=locale) }}"><span >
            {{ locale.display_name|truncate(2,True, '')|upper or locale.english_name|truncate(2,True, '')|upper }}</span></a>
{% endif %} 
{% endfor %}

    <ul class=  "sub-menu">
    {% for locale in h.get_available_locales() %}
    {% if locale.identifier != current_lang %}
    <li value="{% url_for current_url, locale=locale %}"><a href="{{ h.url_for(current_url, locale=locale) }}"><span>
        {{ locale.display_name|truncate(2,True, '')|upper   or locale.english_name|truncate(2,True, '') |upper  }}</span></a></li>
    {% endif %}
    {% endfor %}
    </ul>


