
<li id="menu-item-data" class = "menu-item domain-item current-item has-sub-menu" >
    <a href="{{ h.url('home.index') }}">Data</a>
    <ul class="sub-menu">
        <li><a href="{{ h.url_for(controller='package', action='search')}}">{{_('Datasets')}}</a></li>
        <li><a href="{{ h.url_for(controller='organization', action='index')}}">{{_('Publishers')}}</a></li>
        <li><a>{% link_for _('Communities'), controller='group', action='index', named_route='community' + '_index' %}</a></li>
    </ul>
</li>
<li id="menu-item-pubs" class = "menu-item domain-item" >
    <a href="https://hellenicdataservice.gr/pubs/">{{_('Pubs')}}</a>
</li>
<li id="menu-item-lab" class = "menu-item domain-item" >
    <a href="https://lab.hellenicdataservice.gr/">{{_('Lab')}}</a>
</li>
<li id="menu-item-project" class = "menu-item aux-item has-sub-menu" >
     
    <a href="https://hellenicdataservice.gr/project/page/about">{{_('About')}}</a>
    
    <ul class="sub-menu"> 
        <li><a href="https://hellenicdataservice.gr/project/page/what-is-helix">{{_('What is HELIX?')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/project/page/services">{{_('Services')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/project/page/faq">{{_('FAQ')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/project/page/publish">{{_('Publish Data')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/project/page/software">{{_('Software')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/project/page/the-project">{{_('The project')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/project/page/media">{{_('Media')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/project/page/acknowledge-helix">{{_('Acknowledge HELIX')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/project/page/contacs">{{_('Contact')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/project/page/terms-of-use">{{_('Terms of use')}}</a></li>
    </ul>
    
</li>
<li id="menu-item-news" class = "menu-item aux-item has-sub-menu" >
    <a href="https://hellenicdataservice.gr/news/">{{_('News')}}</a>

    <ul class="sub-menu">
        <li><a href="https://hellenicdataservice.gr/news/">{{_('News')}}</a></li>
        <li><a href="https://hellenicdataservice.gr/news/events">{{_('Events')}}</a></li>
    </ul>
</li>



