{#
Embeds a organization within the sidebar of a page.

organization    - The organization dict.
truncate - A max length for the organization description. If not provided the description
           will be full length.
has_context_title - Boolean for whether to display a module-heading for when
                    this snippet appears within a non-organization template
                    (e.g. dataset page sidebar)

Example:

    {% snippet 'snippets/organization, organization=c.group_dict %}

#}


{% with truncate=truncate or 0, url=h.url_for(controller='organization', action='read', id=organization.name) %}

    {% if has_context_title %}
 
        <h5 class="side-heading org-heading">
{{ _('Organization') }}</h5>
    {% endif %}
      <!--<i class="icon-building"></i> -->
    <section class="org-content">
    {% if organization %}
    {% block image %}
        <div class="image">
            <a href="{% url_for controller='organization', action='read',  id=organization.name %}">
                <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png')}}" width="200" alt="{{ organization.name }}" />
          </a>
        </div>
    {% endblock %}
    {#<h1 class="heading">{{ organization.title or organization.name }}</h1> #}
       {% if organization.description and show_desc %}
        <p>
          {{ h.markdown_extract(organization.description, 180) }}
          {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
        </p> 
      {% elif not organization.description%}
        <p class="empty">{{ _('There is no description for this organization') }}</p>
        {% endif %}
      {% if show_nums %}
        <div class="nums">
          <dl>
            {{ _('Followers') }}:
            {{ h.SI_number_span(organization.num_followers) }}</dd>
          </dl>
          <dl>
            {{ _('Datasets') }}:
            {{ h.SI_number_span(organization.package_count) }}
          </dl>
        </div>
        <div class="follow_button">
          {{ h.follow_button('group', organization.id) }}
        </div>
      {% endif %}
      
        {% if pkg and show_contact%}
        {% block package_contact %}
            {% snippet "snippets/contact.html", pkg=pkg %}
        {% endblock %}
        {% endif %}
        

      {% endif %}
        
      </section>
 
{% endwith %}
