{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item_home.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set modified = package.metadata_modified %}

<div class="latest-dataset-item">
  {% block package_item_content %}
      <div class="date-of-entry">
          {% if package.groups %}
          {% set group = package.groups[0] %}
          {{ h.friendly_date(modified|urlize)}} @ <a href={{ h.url_for(controller='group', action='read', id= group.name) }}> {{group.title|urlize }}</a>
          {% else %}
          {{ h.friendly_date(modified|urlize)}} 
          {% endif %}
      </div>
      <a href={{h.url_for(controller='package', action='read', id=package.name)}}>
      <h3 class="latest-dataset-title">

          {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
          
        {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
      </h3>
      </a>
      
      
      {% if package.organization %}
      {% set org = h.get_organization(package.organization.name) %}
      <div class="dataset-postheading">
          <a href={{ h.url_for(controller='organization', action='read', id= package.organization.name)}}> {{ package.organization.title|urlize }}</a>
      </div>
      {% endif %}
  
      {% if package.resources and not hide_resources %}
      <ul class="dataset-resources unstyled">
        {% for resource in h.dict_list_reduce(package.resources, 'format') %}
          <li>
            <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock %}
</div>
