{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}


<div class = search-form-wrapper>
<form class="landing-search-form" id="main-form-search" method="get" data-module="select-switch checkbox-state" >

  {% block search_input %}
 
  <div class="main-form-content">
      <input type="text" class="landing-search-text" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
      
    </div>
    {% endblock %}
    <button type="submit" class="landing-search-button" value="search">
        <i class="fa fa-search"></i>
        <span></span>
    </button>
  {% block search_search_fields %}
    {% if fields -%}
      <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {%- endif %}
  {% endblock %}
  {#{% block search_sortby %}
  {% if sorting %}
      
        <label for="field-order-by">{{ _('Order by') }}</label>
        <select id="field-order-by" class="select-style" name="sort" data-module="autocomplete">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
        
    
    {% endif %} 
  {% endblock %} #}

  {#
  {% block search_title %}
  {% if not no_title %}
  <div class="main-results-result-count">{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</div>
    {% endif %}
  {% endblock %}  #}

  {% block search_facets %}
    {#{% if facets %}
      <p class="current-search-fields">
        {% for field in facets.fields %}
          {% set search_facets_items = facets.search.get(field)['items'] %}
          <div class="search-field">
          <span class="facet">{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="icon-remove"></i></a>
            </span>
            </div>
          {% endfor %}
        {% endfor %}
      </p>
    {% endif %}  #}
  {% endblock %}

</form>


{% if show_empty and count == 0 %}
  {% trans %}
    <p class="extra">Please try another search.</p>
  {% endtrans %}
{% endif %}

{% if error %}
  {% trans %}
    <p><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
  {% endif %}

        </div>
