{% set current_url = h.full_current_url() %}
<section class="social">
<h2 class="neutral side-heading"><i class="fa fa-share-square-o"></i> {{ _('Share') }}</h2>
  
    <a href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><i class="social-icons fa fa-google-plus"></i></a>
    <a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="social-icons fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="social-icons fa fa-facebook-square"></i></a>

</section>
